body {
    text-align: center;
    background-color:#EBDAAE;
}

.board img {
    /*width: 90%;*/
    /*height: auto;*/
    max-width: 509px;
}

.black_disc img {
    /*width: 7.0%;*/
    /*height: auto;*/
    max-width: 38px;
}

.white_disc img {
    /*width: 7.0%;*/
    /*height: auto;*/
    max-width: 38px;
}

div#board table {
    margin: 0 auto;
    position: relative;
    bottom: 492px;
}

div#board td {
    background: #000000;
    height: 3.04rem;
    width: 3.04rem;
}
